.main-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/img_main_visual_bg.png");
  background-position: center;
  background-size: cover;
  //z-index: -1;
  overflow: hidden;

  .visual-cont {
    position: relative;
    width: 100%;
    max-width: $pc-min;
    height: fit-content;

    .img-box {
      width: 100%;
      height: fit-content;

      img {
        width: 100%;
        min-width: $pc-min;
        height: 100%;
        object-fit: contain;
      }
    }

    .d2-list-wrap {
      .d2-list {
        .d2-list-item {
          width: fit-content;

          .d3-item {
            position: absolute;
            width: fit-content;
            min-width: 30px;
            max-width: 0;
            @include bdrs(2rem);
            transition: all 0.3s ease;
            box-sizing: border-box;

            a {
              width: fit-content;
              min-width: 3rem;
              max-width: 0;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0.4rem 0.4rem;
              box-sizing: border-box;
              @include bdrs(2rem);
              box-shadow: 4.3px 4.2px 6px 0 rgba(0, 0, 0, 0.24);
              white-space: nowrap;
              font-weight: $md;
              color: $white;
              transition: all 0.3s ease;

              .num {
                display: flex;
                flex-basis: 2.2rem;
                width: 2.2rem;
                height: 2.2rem;
                justify-content: center;
                align-items: center;
                @include bdrs(1.1rem);
                color: $black;
                background-color: $white;
              }

              .tit {
                display: flex;
                max-width: 0;
                box-sizing: border-box;
                flex-basis: calc(100% - 3.2rem);
                width: fit-content;
                transition: max-width 0.3s ease;
                overflow: hidden;

                &::after {
                  content: ' ';
                  display: block;
                  width: 2rem;
                }
              }
            }

            // 오른쪽 정렬 아이템
            &.r {
              a {
                flex-direction: row-reverse;

                .tit {
                  justify-content: flex-end;

                  &::after {
                    content: unset;
                    display: unset;
                    width: 2rem;
                  }

                  &::before {
                    content: '';
                    display: block;
                    width: 2rem;
                  }
                }
              }
            }

            // 요소별 위치
            &.ty01 {
              top: 322px;
              left: 337px;
            }

            &.ty02 {
              top: 219px;
              left: 397px;
            }

            &.ty03 {
              top: 299px;
              left: 500px;
            }

            &.ty04 {
              top: 223px;
              left: 560px;
            }

            &.ty05 {
              top: 66px;
              left: 371px;
            }

            &.ty06 {
              top: 267px;
              left: 147px;
            }

            &.ty07 {
              top: 282px;
              left: 15px;
            }

            &.ty08 {
              top: 384px;
              left: 159px;
            }

            &.ty09 {
              top: 7px;
              left: 477px;
            }

            &.ty10 {
              top: 291px;
              //left: 1160px;
              right: 89px;
              //@include t-l {
              //  left: 1160px;
              //  right: unset;
              //}
            }

            &.ty11 {
              top: 65px;
              left: 922px;
            }

            &.ty12 {
              top: 55px;
              left: 991px;
            }

            &.ty13 {
              top: 378px;
              left: 733px;
            }

            &.ty14 {
              top: 437px;
              left: 838px;
            }

            &.ty15 {
              top: 100px;
              //left: 1140px;
              right: 110px;
              //@include t-l {
              //  left: 1140px;
              //  right: unset;
              //}
            }

            &.ty16 {
              top: 247px;
              left: 1013px;
            }

            &.ty17 {
              top: 140px;
              left: 798px;
            }

            // hover 동작구현
            &.active {
              min-width: 180px;
              max-width: 300px;
              z-index: 1;

              a {
                min-width: 180px;
                max-width: 300px;

                .tit {
                  max-width: 300px;
                }
              }
            }
          }

          &.ty01 {
            .d3-item {
              a {
                background-color: $powder_blue;
              }
            }
          }

          &.ty02 {
            .d3-item {
              a {
                background-color: $orange;
              }
            }
          }

          &.ty03 {
            .d3-item {
              a {
                background-color: $pink;
              }
            }
          }

          &.ty04 {
            .d3-item {
              a {
                background-color: $green;
              }
            }
          }
        }
      }
    }
  }

}

/* new main */
.main-banner {
  width: 100%;
  height: 0;
  padding-bottom: 46.61%;
  overflow: hidden;
  position: relative;

  .banner-list {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    animation-name: banner-slide;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
  }

  @include t-s {
    padding-bottom: 500px;
    .banner-list {
      display: flex;
      width: 400%;
      animation-name: banner-slide-mo;

      .list-item {
        width: 100%;
      }
    }
  }
}


.banner-img {
  position: relative;
  width: 100%;
  padding-bottom: 46.61%;
  height: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.banner-img-01 {
    background-image: url('../images/img_main_002.png');
  }

  &.banner-img-02 {
    background-image: url('../images/img_main_003.png');
  }

  &.banner-img-03 {
    background-image: url('../images/img_main_001.png');
  }

  @include t-s {
    padding-bottom: 500px;
  }
}

.banner-txt-list {
  width: 100%;
  @include flex-col(2.5rem);
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h4,
  h5,
  p {
    color: #f4f3f3;
  }

  .ban-tit {
    font: {
      size: 7rem;
      family: $point_font;
      weight: $r;
    }
    letter-spacing: 1.4px;

    &.ty02 {
      font: {
        size: 6.2rem;
        family: $kr_font;
      }
      letter-spacing: -0.045em;
    }
  }

  .ban-sub-tit {
    font: {
      size: 3.6rem;
      family: $point_font;
      weight: $el;
    }
    letter-spacing: 0.72px;
    @include t-l {
      font-family: $mo_font;
    }

    &.ty02 {
      font: {
        size: 4rem;
        family: $kr_font;
        weight: $r;
      }
      letter-spacing: -0.045em;
    }
  }

  .ban-slogan {
    margin-top: 3.5rem;
    font: {
      size: 2.6rem;
      family: $default_font;
      weight: $r;
    }
    letter-spacing: 0.52px;

    &.ty02 {
      font: {
        size: $font-24r;
        family: $kr_font;
      }
      letter-spacing: -0.045em;

    }
  }

  @include t-l {
    h4,
    h5,
    p {
      color: #fff;
    }
    .ban-tit {
      @include font-set($font-22r, $b, inherit, 0.22px, 1.2);
      &.ty02 {
        @include font-set($font-22r, $b, inherit, -0.99px, 1.2);
      }
    }
    .ban-sub-tit,
    .ban-sub-tit.ty02 {
      font: {
        size: 3.2rem;
        weight: $el;
        family: $mo_font;
      }
    }
    .ban-slogan {
      @include font-set(2rem, $r, $mo_font, 0.2px, 1.2);

      &.ty02 {
        @include font-set(2rem, $r, $mo_font, -0.68px, 1.2);
      }
    }
  }
  @include t-s {
    left: 2rem;
    top: 7.5rem;
    transform: unset;
    text-align: left;
    width: calc(100% - 4rem);
    align-items: flex-start;
    h4,
    h5,
    p {
      color: #fff;
    }
    .ban-tit  {
      @include font-set($font-22r, $b, inherit, 0.22px, 1.2);
      &.ty02 {
        @include font-set($font-22r, $b, inherit, -0.99px, 1.2);
      }
    }
    .ban-sub-tit {
      @include font-set(3.2rem, $el, inherit, 0.32px, 1.2);
      &.ty02 {
        @include font-set(3.2rem, $el, inherit, -1.49px, 1.2);
      }
    }
    .ban-slogan {
      margin-top: 0.5rem;
    }
    .ban-slogan {
      @include font-set(1.5rem, $r, $mo_font, 0.15px, 1.2);

      &.ty02 {
        @include font-set(1.5rem, $r, $mo_font, -0.68px, 1.2);
      }
    }

  }
}

.concept-content {
  width: 100%;
  height: fit-content;

  .content-header {
    width: 100%;
    max-width: 1220px;
    height: 420px;
    margin: 0 auto;
    padding: 7rem 0;
    box-sizing: border-box;
    @include flex-col(4rem);

    .tit-head {
      line-height: 1.1;

      span {
        display: block;
        margin-bottom: 0.5rem;

        &.tbl-s {
          display: inline;
        }
      }
    }

    .txt-list {
      @include flex-col(1.2rem);
      line-height: 1.2;
    }
  }

  &.ty02 {
    .content-header {
      @include flex-col(4rem);
      align-items: flex-end;
      text-align: right;

      .txt-list {
        @include flex-col(1.2rem);
        align-items: flex-end;
        @include t-l {
          gap: 0.5rem;
        }
      }

    }
  }

  @include t-l {
    .content-header {
      padding: 6rem 2rem;
      box-sizing: border-box;

      .tit-head {
        @include font-set(3rem, $sb, $mo_font, 0.3px, 1.2);

        .ty02 {
          @include font-set(3rem, $sb, $mo_font, -1.26px, 1.2);
        }

        span {
          font-weight: $el;
        }
      }

      .txt-list {
        gap: unset;

        p {
          @include font-set(2rem, $el, $mo_font, normal, 1.6);
        }
        &.ty02 {
          p {
            @include font-set(2rem, $el, $mo_font, -0.68px, 1.6);
          }
        }
      }
    }
  }
  @include t-s {
    height: 100vh;
    overflow: hidden;
    .content-header {
      height: fit-content;
      min-height: 50%;

      .tit-head {
        @include font-set(2.8rem, $sb, $mo_font, normal, 1.2);
        &.ty02 {
          @include font-set(2.8rem, $sb, $mo_font, -1.26px, 1.2);

        }
        span {
          font-weight: $el;

          &.tbl-s {
            display: inline;
          }
        }
      }

      .txt-list {
        gap: unset;

        p {
          @include font-set(1.5rem, $el, $mo_font, normal, 1.4);
        }

        &.ty02 {
          p {
            @include font-set(1.5rem, $el, $mo_font, -0.68px, 1.4);
          }
          .emp {
            margin-top: 3rem;
            font-weight: $r;
          }
          .fw-r {
            font-weight: $r;
          }
        }
      }
    }
    .concept-img-wrap {
      height: 50%;

      .concept-img {
        height: 100%;
        background-attachment: unset;
      }
    }
    &.ty02 {
      .content-header {
        align-items: flex-start;
        text-align: left;

        .txt-list {
          //gap: unset;
          align-items: flex-start;
        }
      }
    }
  }
}

.concept-img-wrap {
  width: 100%;
  height: 475px;

  .concept-img {
    width: 100%;
    height: 475px;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &.concept-img-01 {
      background-image: url('../images/img_main_004.png');
    }

    &.concept-img-02 {
      background-image: url('../images/img_main_005.png');
    }

    &.concept-img-03 {
      background-image: url('../images/img_main_006.png');
    }

    &.concept-img-04 {
      background-image: url('../images/img_main_007.png');
    }
  }
}

.main-popup-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 560px;
  padding: 0 2rem;
  height: fit-content;
  box-sizing: border-box;
  .popup {

    background-color: #fff;
  }
  .popup-001 {
    .pop-content {
      width: 100%;
      height: fit-content;
      background-image: url('../images/img_pop_bg_001.png');
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      position: relative;
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding-bottom: 73.21%;
        p,
        button {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
        p {
          display: block;
          width: 100%;
          bottom: 7.5rem;
          text-align: center;
          @include font-set(42px, $l, $point_font, normal, 1.2);
          color: $white;
          @include m-l {
            bottom: 15%;
            @include font-set(2.4rem, $l, inherit, normal, 1.2)
          }
        }
        button {
          bottom: 2rem;
          color: $blue_l;
          @include m-l {
            display: none;
          }
        }
      }
    }
    .pop-footer {
      display: flex;
      padding: 1.5rem 2rem;
      box-sizing: border-box;
      justify-content: space-between;
      .input-wrap {
        display: flex;
        align-items: center;
        input {
          width: 2rem;
          height: 2rem;
        }
        label {
          margin-left: 1rem;
          @include font-set($font-14r, $r, inherit, normal, 1);
        }
      }
    }
  }
}



@keyframes banner-slide {
  0% {
    top: 0;
  }
  23.33% {
    top: 0;
  }
  33.33% {
    top: -100%;
  }
  56.66% {
    top: -100%;
  }
  66.66% {
    top: -200%;
  }
  90.00% {
    top: -200%;
  }
  100% {
    top: -300%;
  }
}

@keyframes banner-slide-mo {
  0% {
    left: 0;
  }
  23.33% {
    left: 0;
  }
  33.33% {
    left: -100%;
  }
  56.66% {
    left: -100%;
  }
  66.66% {
    left: -200%;
  }
  90.00% {
    left: -200%;
  }
  100% {
    left: -300%;
  }
}


/* //new main */

