// products CSS

/* product lineup */
.lineup-contents {
  .content-header {
    @include flex-col(7.2rem);
  }
}

.main-img-banner {
  width: 100%;
  height: fit-content;

  .img-wrap {
    width: 100%;
    height: 420px;
    background-color: #f4f4f7;
    background-image: url('../images/img_prod_main_001.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    position: relative;
    overflow: hidden;
  }

  .banner-tit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $font-60r;
  }
}



.lineup-table-wrap {
  width: 100%;
  height: fit-content;

  .lineup-table {
    width: 100%;
    height: fit-content;
    @include bdb(2px, #0d8de0);

    .table-row {
      &:first-child {
        text-align: center;

        .table-column {

          .table-item {

            background-color: $gray_05;
            font: {
              size: $font-14r;
              weight: $md;
              family: $point_font;
            }
            padding: 0 2.5rem;
            height: 3.5rem;
            border-right: unset;


            &:nth-child(1) {
              background-color: $gray_05;
            }

          }
        }
      }

      &:nth-child(2) {
        .table-column {
          @include bdb(4px, $blue_l);

          .table-item {
            padding: 0;

            &:nth-child(1) {
              background-color: unset;
            }
            a {
              display: flex;
              width: 100%;
              height: 100%;
              box-sizing: border-box;
              transition: 0.35s;
              border: 1px solid $white;
              &:hover {
                border: 1px solid $blue_l;
              }
            }
          }
        }
      }

      .table-column {
        display: flex;
        @include bdb(1px, $gray_04);
        justify-content: space-between;
        align-items: stretch;

        .table-item {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-basis: 14.28%;
          color: $black_02;
          font-size: $font-13r;
          padding: 2rem 1rem;
          box-sizing: border-box;
          height: auto;
          line-height: 1.7;
          @include bdr(1px, $gray_04);

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          &:nth-child(1) {
            background-color: #0d8de0;
            color: $white;
            font: {
              size: $font-12r;
              weight: $r;
              family: $point-font;
            }
          }

          &:last-child {
            border-right: unset
          }
        }
      }
    }
  }
}

.table-caption {
  font: {
    size: $font-20r;
  }
  color: #363636;
  margin-top: 2rem;
}

/* //product lineup */



.prod-bg-wrap {
  width: 100%;
  background-size: contain;
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.bg-retina-next-gen {
  background-image: url("../images/temp/img_temp_001.png");
}

.bg-retina-4f {
  background-image: url("../images/img_retina_4f_001.png");
}

.bg-retina-4s {
  background-image: url("../images/img_retina_4sn_001.png");
}

.bg-retina-4a {
  background-image: url("../images/img_retina_4a_001.png");
}

.bg-irist {
  background-image: url("../images/img_irist_001.png");
}

.bg-irisc {
  background-image: url("../images/img_irisc_001.png");
}

.bg-irism {
  background-image: url("../images/img_irism_001.png");
}

.bg-se68-03w {
  background-image: url("../images/img_se68_03w_001.png");
}

.bg-se68-51 {
  background-image: url("../images/img_se68_51_001.png");
}
.bg-lasso-iradar {
  background-image: url("../images/img_lasso_iradar_001.png");
}


.img-content {
  .content-header {
    @include flex-col(1rem);

    .txt-r {
      color: $blue_l;
    }
  }
}

.prod-head-cont {
  .tit-box {
    @include flex-col(12.5rem);

    .tit-head {
      display: block;
      width: 76%;
    }

    .txt-l {
      display: block;
      line-height: 1.6;
      width: 50%;
    }
  }
}

.prod-contents {
  .prod-dtl-content {
    padding: 3rem 0 5rem;
  }
}

.prod-dtl-cont {
  .dtl-list {
    display: flex;
    gap: 1.5rem;

    .list-item {
      flex: 1 1 33.33%;
    }
  }
}

.dtl-item {
  @include flex-col(1rem);
  //align-items: flex-start;
  width: 100%;
  max-width: 640px;

  .tit-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.5rem;
    padding: 1rem 0;
    background-color: $blue_l;
    border-radius: 2rem;

    .tit-l {
      color: $white;
    }
  }

  .img-box {
    border-radius: 1.5rem;
    background-color: $white;
    overflow: hidden;
    padding-bottom: 47.3rem;
    box-sizing: border-box;
    position: relative;
    box-shadow: 5.2px 6px 12px 0 rgba(0, 0, 0, 0.1);

    img {
      position: absolute;
      //left: 50%;
      width: 100%;
      height: 100%;
      //transform: translateX(-50%);
      transform: scale(0.9);
      object-fit: cover;
    }
  }
}


.prod-spec-content {
  padding-top: 11.8rem;
}


.spec-content {
  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .tit-cont {
      font-family: "Poppins", sans-serif;
    }
  }
}

.prod-spec-cont {

}

.spec-list {
  display: grid;
  grid-template-columns: repeat(5, calc((100% - 8rem) / 5));
  grid-gap: 2rem;

  .list-item {
    height: 10rem;

    &.span {
      grid-column: span 2;
    }

    &:first-child {
      .spec-item {
        background-color: $blue-l;

        .tit-box,
        .spec-box {
          color: $white;
        }

        .spec-box {
          .tit-art-03 {
            font-size: $font-32r;
          }
        }
      }
    }
  }
}

.spec-item {
  @include flex-col();
  justify-content: flex-start;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
  transition: 0.3s;
  @include bdrs(1.5rem);
  background-color: $violet;

  .tit-box {
    color: $black_02;
  }

  .spec-box {
    margin: auto 0;
    line-height: 1.2;
    color: $black_02;
  }
}

.feat-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 6rem;

  .list-item {
    flex-basis: calc((100% - 6rem) / 2);
  }
}

.feat-item {
  @include flex-col();
  min-height: 37rem;
  height: 100%;
  box-sizing: border-box;
  padding: 2.8rem 3.2rem;
  @include bdrs(2rem);
  background-color: $gray_01;
  transition: 0.3s;


  .tit-box {
    display: flex;
    align-items: center;
    gap: 3rem;

    &::before {
      content: '';
      display: block;
      width: 7.5rem;
      height: 7.5rem;
      @include bdrs(2.4rem);
      background-color: $white;
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }


  &.ico-01 {
    .tit-box {
      &::before {
        background-image: url("../images/ico_prod_001.png");
      }
    }
  }

  &.ico-02 {
    .tit-box {
      &::before {
        background-image: url("../images/ico_prod_002.png");
      }
    }
  }

  &.ico-03 {
    .tit-box {
      &::before {
        background-image: url("../images/ico_prod_003.png");
      }
    }
  }

  &.ico-04 {
    .tit-box {
      &::before {
        background-image: url("../images/ico_prod_004.png");
      }
    }
  }

  .cont-box {
    margin: 3.5rem 0;
    padding: 0 3rem;

    .lb-tit-r,
    .txt-l {
      line-height: 1.7;
      font-weight: $l;

      span {
        display: block;
        text-indent: -1.3rem;
        padding-left: 1.3rem;
        margin-bottom: 1rem;
      }
    }
  }


  //&:hover {
  //  background-color: $blue_l;
  //  color: $white;
  //}

  &.ty02 {
    padding: 0;
    background-color: unset;
    height: 100%;
    min-height: unset;
    border: 1px solid $gray_01;
    box-shadow: 6.8px 4.2px 8px 0 rgba(0, 0, 0, 0.08);

    .tit-box {
      background-color: $gray_07;
      padding: 2rem 3rem;
      box-sizing: border-box;
      border-radius: 18px;
      box-shadow: 6.8px 4.2px 8px 0 rgba(0, 0, 0, 0.08);

      &::before {
        background-color: $blue_l;
      }
    }

    .cont-box {
      padding: 0 7rem;

      .txt-l {
        margin-left: 3rem;
      }
    }

    &.ico-01 {
      .tit-box {
        &::before {
          background-image: url("../images/ico_prod_001_w.png");
        }
      }
    }

    &.ico-02 {
      .tit-box {
        &::before {
          background-image: url("../images/ico_prod_002_w.png");
        }
      }
    }

    &.ico-03 {
      .tit-box {
        &::before {
          background-image: url("../images/ico_prod_003_w.png");
        }
      }
    }

    &.ico-04 {
      .tit-box {
        &::before {
          background-image: url("../images/ico_prod_004_w.png");
        }
      }
    }

    //&:hover {
    //  background-color: $blue_l;
    //
    //  .tit-box {
    //    &::before {
    //      background-color: $white;
    //    }
    //  }
    //
    //  &.ico-01 {
    //    .tit-box {
    //      &::before {
    //        background-image: url("../images/ico_prod_001.png");
    //      }
    //    }
    //  }
    //
    //  &.ico-02 {
    //    .tit-box {
    //      &::before {
    //        background-image: url("../images/ico_prod_002.png");
    //      }
    //    }
    //  }
    //
    //  &.ico-03 {
    //    .tit-box {
    //      &::before {
    //        background-image: url("../images/ico_prod_003.png");
    //      }
    //    }
    //  }
    //
    //  &.ico-04 {
    //    .tit-box {
    //      &::before {
    //        background-image: url("../images/ico_prod_004.png");
    //      }
    //    }
    //  }
    //}
  }
}

.video-content {
  @include flex-col(5rem);
  justify-content: center;
  align-items: center;
  text-align: center;

  .tit-cont {
    font-family: $point_font;
    font-weight: $l;
    line-height: 1.25;
  }

  section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-wrap {
    width: 60%;
    height: 0;
    padding-bottom: 33.75%;
    min-width: 738px;
    overflow: hidden;
    position: relative;

    img,
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.se68-51-contents {
  .prod-spec-content {
    padding-top: unset;
  }
}


.smart-guard-iris-contents {
  .prod-feat-content {
    margin-top: 16.8rem;

    .cont-box {
      display: flex;
      gap: 17rem;
      padding: 0 8rem;
      margin: 7rem 0;

      .img-wrap {
        width: fit-content;
        height: fit-content;
        .img-box {
          width: 18rem;
          height: 25rem;
          background-image: url('../images/img_ces_001.png');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      .feat-table-wrap {
        width: 100%;
        height: fit-content;

        .feat-table {
          width: 100%;
          height: fit-content;
          @include bdb(1px, $blue_l);

          .table-row {

            &.table-header {
              text-align: center;

              @include bdt(2px, $blue_l);
              .table-column {
                .table-item {
                  font: {
                    size: $font-12r;
                    weight: $l;
                    family: $point_font;
                  };
                  background-color: $gray_07;
                  height: 3.5rem;
                }
              }
            }

            .table-column {
              display: flex;
              @include bdb(1px, $gray_04);
              justify-content: center;
              align-items: center;

              .table-item {
                //flex-basis: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                text-align: center;
                font-size: $font-18r;
                padding: 0 2.5rem;
                box-sizing: border-box;
                height: 8rem;
                line-height: 1.7;
                transition: background-color 0.3s;
                @include bdr(1px, $gray_04);

                &:last-child {
                  border-right: unset
                }

                .circle {
                  font: {
                    size: $font-32r;
                    family: $default_font;
                  }
                  line-height: 1;
                  color: $red;
                }
              }
            }
          }
        }
      }
    }
  }
}

.retina-4sn-developer-kit-contents {
  .img-content {
    section {
      @include flex-col(8.2rem);
      .prod-head-cont {
        .tit-box {
          gap: 1rem;
          p {
            font-weight: $l;
          }
        }
      }
      .prod-img-wrap {
        width: 100%;
        height: fit-content;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  .prod-spec-content {
    padding-top: unset;
  }
}

.prod-contents {
  .str-content {
    gap: 2rem;
    .str-sec {
      display: flex;
      gap: 6rem;
      align-items: center;
      @include bd(1px, #e1e1e1);
      border-radius: 3rem;
      padding: 3rem 5rem;
    }
    .art-header {
      flex-basis: 190px;
      width: fit-content;
      min-width: 190px;
      h4 {
        font: {
          size: $font-28r;
          family: $point_font;
          weight: $l;
        }
      }
    }
    .str-list {
      display: flex;
      gap: 3rem;
      .list-item {

      }
    }
  }
}

.retina-for-uas-contents {
  section {
    @include flex-col(6rem);
    .prod-head-cont {
      .tit-box {
        gap: 5rem;
        .tit-head {
          width: 80%;
        }
      }
    }
    .prod-img-wrap {
      width: 1220px;
      height: 325px;
      margin: 0 auto;
      background-image: url('../images/img_retina_uas_001.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;


    }
  }
}
.uas-img {
  width: 100%;
  height: 100%;
  @include flex-col(3rem);
  justify-content: center;
  align-items: center;
  text-align: center;
  p,
  a {
    color: $white;
    font-family: $point_font;
  }
  p {
    display: block;
    width: 550px;
    font-size: $font-26r;
    font-weight: $l;
  }
  a {
    display: block;
    font-size: $font-20r;
    font-weight: $b;
    @include bdb(1px, $white)
  }
}

.lasso-iradar-contents {
  .prod-feat-content {
    padding-top: 16.8rem;
  }
  .prod-dtl-content {
    padding: 7rem 0;
    .dtl-item {
      .img-box {
        padding-bottom: 36.4rem;
      }
    }
  }
}
.swap-contents {
  .swap-sec {

    width: 100%;
    height: 1024px;
    background-image: url("../images/img_tech_swap_002.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 6rem 2.5rem 2.5rem;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.12);
    border-radius: 2.4rem;

    @include flex-col(64rem);
    justify-content: center;
    align-items: center;
    .tit-art {
      color: $white;
      text-align: center;
      line-height: 1.5;
      display: flex;
      width: 75%;
    }
    .app-list-wrap  {
      .app-list {
        display: flex;
        gap: 1.5rem;
        .app-list-item {
          flex-basis: calc((100% - 4.5rem ) / 4);
        }
      }
    }
    .app-item {
      width: 298px;
      height: 240px;
      background-color: #fff;
      border-radius: 2.5rem;
      box-shadow: 2.6px 3px 8px 0 rgba(0, 0, 0, 0.12);
      overflow: hidden;
      .lb-tit-r {
        padding: 1.5rem 4rem 1rem;
        color: $white;
        &.ty01 {
          background-color: #359dc3;
        }
        &.ty02 {
          background-color: #f07723;
        }
        &.ty03 {
          background-color: #ef19a7;
        }
        &.ty04 {
          background-color: #1ca55c;
        }
      }
      .app-dtl-list {
        padding: 2.5rem 4rem 0;
        @include flex-col(1.2rem);
        .app-dtl-list-item {

        }
      }
      .app-dtl-item {
        color: #252525;
        width: 220px;
        @include ln-1;
      }
    }
  }
}