// products CSS

/* product lineup */
.lineup-contents {
  .content-header {
    @include flex-col(7.2rem);
  }
}

.main-img-banner {
  width: 100%;
  height: fit-content;

  .img-wrap {
    width: 100%;
    height: 420px;
    background-color: #f4f4f7;
    background-image: url('../images/img_prod_main_001.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    position: relative;
    overflow: hidden;
  }

  .banner-tit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $font-60r;

    &.ty02 {
      font-size: $font-52r;
      font-weight: $l;
    }
  }
}


.lineup-table-wrap {
  width: 100%;
  height: fit-content;

  .lineup-table {
    width: 100%;
    height: fit-content;
    @include bdb(2px, #0d8de0);

    .table-row {
      &:first-child {
        text-align: center;

        .table-column {

          .table-item {

            background-color: $gray_05;
            font: {
              size: $font-14r;
              weight: $md;
              family: $point_font;
            }
            padding: 0 2.5rem;
            height: 3.5rem;
            border-right: unset;


            &:nth-child(1) {
              background-color: $gray_05;
            }

            @include t-l {
              font-family: $mo_font;
            }
          }
        }
      }

      &:nth-child(2) {
        .table-column {
          @include bdb(4px, $blue_l);

          .table-item {
            padding: 0;

            &:nth-child(1) {
              background-color: unset;
            }

            a {
              display: flex;
              width: 100%;
              height: 100%;
              box-sizing: border-box;
              transition: 0.35s;
              border: 1px solid $white;

              &:hover {
                border: 1px solid $blue_l;
              }
            }
          }
        }
      }

      .table-column {
        display: flex;
        @include bdb(1px, $gray_04);
        justify-content: space-between;
        align-items: stretch;

        .table-item {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-basis: 14.28%;
          color: $black_02;
          font-size: $font-13r;
          padding: 2rem 1rem;
          box-sizing: border-box;
          height: auto;
          line-height: 1.7;
          @include bdr(1px, $gray_04);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &:nth-child(1) {
            background-color: #0d8de0;
            color: $white;
            font: {
              size: $font-12r;
              weight: $r;
              family: $point-font;
            }
          }

          &:last-child {
            border-right: unset
          }
        }
      }
    }
  }
}

.table-caption {
  font: {
    size: $font-20r;
  }
  color: #363636;
  margin-top: 2rem;
}

/* //product lineup */


.prod-bg-wrap {
  width: 100%;
  background-size: contain;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  @include t-l {
    box-sizing: border-box;
    padding: 0 2rem;
    background-position: 100% 100%;
  }
  @include t-s {
    padding: 5rem 2rem 0;
  }
}

.bg-retina-next-gen {
  background-image: url("../images/temp/img_temp_001.png");
}

.bg-retina-4f {
  background-image: url("../images/img_retina_4f_001.png");
}

.bg-retina-4s {
  background-image: url("../images/img_retina_4sn_001.png");
}

.bg-retina-4a {
  background-image: url("../images/img_retina_4a_001.png");
}

.bg-irist {
  background-image: url("../images/img_irist_001.png");
}

.bg-irisc {
  background-image: url("../images/img_irisc_001.png");
}

.bg-irism {
  background-image: url("../images/img_irism_001.png");
}

.bg-se68-03w {
  background-image: url("../images/img_se68_03w_001.png");
}

.bg-se68-51 {
  background-image: url("../images/img_se68_51_001.png");
}

.bg-lasso-iradar {
  background-image: url("../images/img_lasso_iradar_001.png");
}

.container {
  .img-content {
    .content-header {
      @include flex-col(1rem);

      .txt-r {
        color: $blue_l;
      }
    }

    @include t-s {
      padding-bottom: 80%;
      .content-header {
        .tit-cont {
          @include font-set($font-30r, $l, inherit, 0.58px, 1);
        }
      }
    }
  }
}


.prod-head-cont {
  .tit-box {
    @include flex-col(12.5rem);

    .tit-head {
      display: block;
      width: 70%;
      line-height: 1.2;
    }

    .txt-l {
      display: block;
      line-height: 1.6;
      width: 50%;
    }
  }

  @include t-l {
    .tit-box {
      .tit-head {
        width: 85%;
      }

      .txt-l {
        width: 75%;
      }
    }
  }
  @include t-s {
    .tit-box {
      gap: 3rem;

      .tit-head {
        width: 100%;
        @include font-set($font-30r, $el, inherit, 0.3px, 1.2);
        &.ty02 {
          @include font-set($font-30r, $el, inherit, -1.35px, 1.2);
        }
      }

      .txt-l {
        width: 100%;
        @include font-set($font-16r, $el, inherit, 0.16px, 1.6);
        &.ty02 {
          @include font-set($font-16r, $el, inherit, -0.72px, 1.6);
        }
      }
    }
  }
}

.prod-contents {
  .prod-bg-wrap.gray {
    margin-bottom: 16.8rem;
    padding-bottom: 5rem;
  }

  .prod-dtl-content {
    padding: 3rem 0 5rem;
  }

  .btn-learn-more {
    color: $blue_l;
  }

  @include t-l {

    .prod-bg-wrap.gray {
      padding-top: 5rem;
    }
    .prod-dtl-content {
      width: 100%;
      padding: unset;
    }
  }
  @include t-s {
    padding-bottom: 12rem;
    .prod-bg-wrap.gray {
      margin-bottom: unset;
      overflow: scroll;
    }
  }
}

.prod-dtl-cont {
  .dtl-list {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;

    .list-item {
      flex: 1 1 30%;
    }
  }

  @include t-l {
    min-width: 768px;
    &.ty02 {
      min-width: 512px;
    }

    .dtl-list {
      gap: 3rem;
    }
  }
  @include t-s {
    padding-right: 2rem;
    &.ty03 {
      min-width: 1280px;
      .dtl-list {
        .list-item {
          flex: 1 1 15%;
          display: flex;
          align-items: flex-end;
        }
      }
    }

  }
}

.dtl-item {
  @include flex-col(1rem);
  //align-items: flex-start;
  width: 100%;
  max-width: 640px;

  .tit-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.5rem;
    padding: 1rem 0;
    background-color: $blue_l;
    border-radius: 2rem;

    .tit-l {
      color: $white;
    }
  }

  .img-box {
    border-radius: 1.5rem;
    background-color: $white;
    overflow: hidden;
    padding-bottom: 47.3rem;
    box-sizing: border-box;
    position: relative;
    box-shadow: 5.2px 6px 12px 0 rgba(0, 0, 0, 0.1);

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: scale(0.9);
      object-fit: cover;
    }

    &.ty02 {
      padding-bottom: 43.6rem;

      img {
        transform: unset;
      }
    }
  }

  @include t-l {
    .img-box {
      padding-bottom: 100%;
    }
  }
  @include t-s {
    .tit-box {
      width: 12rem;
    }
    .img-box.ty02 {
      padding-bottom: 100%;
    }
  }
}

.container .content.prod-use-content {
  gap: 3.5rem;
  @include t-s {
    gap: 2rem;
  }
}

.prod-use-content {
  .tit-cont {
    font-family: $point_font;
    @include t-l {
      font-family: $mo_font;
    }
  }
}

.use-img-wrap {
  background-color: $gray_05;
  padding: 3.5rem 3rem;
  border-radius: 1rem;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  @include t-s {
    padding: 1rem;
  }
}

.spec-content {
  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .tit-cont {
      font-family: $point_font;
    }
  }

  @include t-l {
    .content-header {
      .tit-cont {
        font-family: $mo_font;
      }
    }
  }
  @include t-s {
    .content-header {
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
    }
  }
}

.prod-spec-cont {

}

.spec-list {
  display: grid;
  grid-template-columns: repeat(5, calc((100% - 8rem) / 5));
  grid-gap: 2rem;

  .list-item {
    height: 10rem;

    &.span {
      grid-column: span 2;
    }

    &:first-child {
      .spec-item {
        background-color: $blue-l;

        .tit-box,
        .spec-box {
          color: $white;
        }

        .spec-box {
          .tit-art-03 {
            font-size: $font-32r;
          }
        }
      }
    }
  }

  @include t-l {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
  @include t-s {
    grid-template-columns: 1fr 1fr;
    .list-item {
      &:first-child .spec-item .spec-box .tit-art-03 {
        font-size: $font-22r;
      }
    }
  }
  @include m-l {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    .list-item {
      height: fit-content;
      &.span {
        grid-column: unset;
      }
    }
  }
}

.spec-item {
  @include flex-col();
  justify-content: flex-start;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  box-sizing: border-box;
  transition: 0.3s;
  @include bdrs(1.5rem);
  background-color: $violet;

  .tit-box {
    color: $black_02;
  }

  .spec-box {
    margin: auto 0;
    line-height: 1.2;
    color: $black_02;
  }

  @include t-s {
    @include bdrs(0.5rem);
  }
}

.container .content.prod-feat-content {
  gap: 3rem;
  @include t-s {
    gap: 2rem;
  }
}

.prod-feat-content {
  .tit-cont {
    font-family: $point_font;

  }

  .feat-sec {
    border-top: 1px solid #e1e1e1;
    padding-top: 3.5rem;
  }

  .feat-info-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;

    .list-item {
      flex-basis: 12.5%;

      .feat-info-item {
        margin: 0 auto;
      }
    }
  }

  @include t-l {
    .tit-cont {
      font-family: $mo_font;
    }
    .feat-sec {
      padding-top: 2rem;
    }
    .feat-info-list {
      gap: 2rem 0.5rem;
    }
    .feat-list {
      gap: 2rem;
      justify-content: space-between;
      .list-item {
        flex-basis: calc((100% - 2rem) / 2);
      }
    }
  }
  @include t-s {
    .feat-list {
      .list-item {
        flex-basis: unset;
        width: 100%;
      }
    }
  }
  @include m-l {
    .feat-info-list {
      gap: 2rem 0;
      .list-item {
        flex-basis: 25%;
      }
    }
  }
  @include m-s {
    .feat-info-list {
      .list-item {
        flex-basis: 33.33%;
      }
    }
  }
}



.feat-item {
  @include flex-col();
  min-height: 37rem;
  height: 100%;
  box-sizing: border-box;
  padding: 2.8rem 3.2rem;
  @include bdrs(2rem);
  background-color: $gray_01;
  transition: 0.3s;

  .ces-box {
    @include flex-col(1.5rem);
  }

  .tit-box {
    display: flex;
    align-items: center;
    gap: 3rem;

    &::before {
      content: '';
      display: block;
      width: 7.5rem;
      height: 7.5rem;
      @include bdrs(2.4rem);
      background-color: $white;
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }


  &.ico-01 {
    .tit-box {
      &::before {
        background-image: url("../images/ico_prod_001.png");
      }
    }
  }

  &.ico-02 {
    .tit-box {
      &::before {
        background-image: url("../images/ico_prod_002.png");
      }
    }
  }

  &.ico-03 {
    .tit-box {
      &::before {
        background-image: url("../images/ico_prod_003.png");
      }
    }
  }

  &.ico-04 {
    .tit-box {
      &::before {
        background-image: url("../images/ico_prod_004.png");
      }
    }
  }

  .cont-box {
    margin: 3.5rem 0;
    padding: 0 3rem;

    .lb-tit-r,
    .txt-l {
      line-height: 1.7;
      font-weight: $l;

      span {
        display: block;
        text-indent: -1.3rem;
        padding-left: 1.3rem;
        margin-bottom: 1rem;
        @include t-s {
          text-indent: -1rem;
          padding-left: 1rem;
        }
      }
    }
  }


  //&:hover {
  //  background-color: $blue_l;
  //  color: $white;
  //}

  &.ty02 {
    padding: 0;
    background-color: unset;
    height: 100%;
    min-height: unset;
    border: 1px solid $gray_01;
    box-shadow: 6.8px 4.2px 8px 0 rgba(0, 0, 0, 0.08);

    .tit-box {
      background-color: $gray_07;
      padding: 2rem 3rem;
      box-sizing: border-box;
      border-radius: 18px;
      box-shadow: 6.8px 4.2px 8px 0 rgba(0, 0, 0, 0.08);

      &::before {
        background-color: $blue_l;
      }
    }

    .cont-box {
      padding: 0 7rem;

      .txt-l {
        margin-left: 3rem;
      }
    }

    &.ico-01 {
      .tit-box {
        &::before {
          background-image: url("../images/ico_prod_001_w.png");
        }
      }
    }

    &.ico-02 {
      .tit-box {
        &::before {
          background-image: url("../images/ico_prod_002_w.png");
        }
      }
    }

    &.ico-03 {
      .tit-box {
        &::before {
          background-image: url("../images/ico_prod_003_w.png");
        }
      }
    }

    &.ico-04 {
      .tit-box {
        &::before {
          background-image: url("../images/ico_prod_004_w.png");
        }
      }
    }

    //&:hover {
    //  background-color: $blue_l;
    //
    //  .tit-box {
    //    &::before {
    //      background-color: $white;
    //    }
    //  }
    //
    //  &.ico-01 {
    //    .tit-box {
    //      &::before {
    //        background-image: url("../images/ico_prod_001.png");
    //      }
    //    }
    //  }
    //
    //  &.ico-02 {
    //    .tit-box {
    //      &::before {
    //        background-image: url("../images/ico_prod_002.png");
    //      }
    //    }
    //  }
    //
    //  &.ico-03 {
    //    .tit-box {
    //      &::before {
    //        background-image: url("../images/ico_prod_003.png");
    //      }
    //    }
    //  }
    //
    //  &.ico-04 {
    //    .tit-box {
    //      &::before {
    //        background-image: url("../images/ico_prod_004.png");
    //      }
    //    }
    //  }
    //}
  }
  @include t-l {
    padding: 2rem 2.5rem;
    .tit-box {
      gap: 2rem;
      p {
        display: inline-block;
        width: calc(100% - 105px );
      }
    }
    &.ty02 {
      .cont-box {
        padding: 0 3.5rem;
      }
    }
  }
  @include t-s {
    flex-direction: column;
    min-height: unset;
    .tit-box {
      gap: 1rem;
      &::before {
        width: 3.6rem;
        height: 3.6rem;
        @include bdrs(1.2rem);
        background-size: 50%;
      }
      p {
        @include font-set($font-16r, $r, inherit, normal, 1.2);
        width: calc(100% - 46px);
      }
      &.ty02 {
        p {
          @include font-set($font-16r, $r, inherit, -0.32px, 1.2);

        }
      }

    }
    .cont-box {
      margin: 2rem 0 0;
      padding: 0 1rem;

      .txt-l {
        display: flex;
        flex-wrap : wrap;
        justify-content: flex-start;
        gap: 0 1rem;
        @include font-set($font-13r, $r, inherit, 0.13px, 1.2);

        span {
          flex-basis: 180px;
        }
      }
      &.ty02 {
        .txt-l {
          @include font-set($font-13r, $r, inherit, -0.26px, 1.2);
        }
      }
    }
    &.ty02 {
      .tit-box {
        padding: 1.5rem 2.5rem;
      }
      .cont-box {
        margin: 2rem 0;
        padding: 0 2.5rem;
        .lb-tit-r {
          @include font-set($font-15r, $r, inherit, 0.15px, 1.4);

        }
        &.ty02 {
          .lb-tit-r {
            @include font-set($font-15r, $r, inherit, -0.68px, 1.4);
          }
        }
      }
    }
  }
  @include m-s {
    &.ty02 {
      .tit-box {
        padding: 1rem 1.5rem;
      }
      .cont-box {
        padding: 0 1.5rem;
      }
    }
  }
}

.video-content {
  @include flex-col(5rem);
  justify-content: center;
  align-items: center;
  text-align: center;

  .tit-cont {
    font-family: $point_font;
    font-weight: $l;
    line-height: 1.25;
    @include t-l {
      font-family: $mo_font;
    }
  }

  section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-wrap {
    width: 60%;
    height: 0;
    padding-bottom: 33.75%;
    //min-width: 738px;
    overflow: hidden;
    position: relative;

    img,
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  @include t-s {
    .tit-cont {
      @include font-set($font-20r, $r, inherit, 0.8px, 1.2);
    }
    .img-wrap {
      width: 100%;
      padding-bottom: 56.25%;
    }
  }
}

.se68-51-contents {
  .prod-spec-content {
    padding-top: unset;
  }
}


.smart-guard-iris-contents {
  .prod-head-cont {
    .tit-box {
      .tit-head {
        width: 75%;
        @include t-l {
          width: inherit;
          word-break: keep-all;
        }
      }
    }
  }

  .prod-feat-content {

    .cont-box {
      display: flex;
      gap: 17rem;
      padding: 0 8rem;
      margin: 7rem 0;

      .img-wrap {
        width: fit-content;
        height: fit-content;

        .img-box {
          width: 18rem;
          height: 25rem;
          background-image: url('../images/img_ces_001.png');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      .feat-table-wrap {
        width: 100%;
        height: fit-content;

        .feat-table {
          width: 100%;
          height: fit-content;
          @include bdb(1px, $blue_l);

          .table-row {

            &.table-header {
              text-align: center;

              @include bdt(2px, $blue_l);

              .table-column {
                .table-item {
                  font: {
                    size: $font-12r;
                    weight: $l;
                    family: $point_font;
                  };
                  background-color: $gray_07;
                  height: 3.5rem;
                  @include t-l {
                    font-family: $mo_font;
                  }
                }
              }
            }

            .table-column {
              display: flex;
              @include bdb(1px, $gray_04);
              justify-content: center;
              align-items: center;

              .table-item {
                //flex-basis: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                text-align: center;
                font-size: $font-18r;
                padding: 0 2.5rem;
                box-sizing: border-box;
                height: 8rem;
                line-height: 1.7;
                transition: background-color 0.3s;
                @include bdr(1px, $gray_04);
                &.pc-s {
                  @include t-s {
                    display: none;
                  }
                }

                &:last-child {
                  border-right: unset
                }

                .circle {
                  font: {
                    size: $font-32r;
                    family: $default_font;
                  }
                  line-height: 1;
                  color: $red;
                  @include t-l {
                    font-family: $mo_font;
                  }
                }
                @include t-s {
                  height: fit-content;
                  padding: 1rem 2.5rem;
                  border-right: unset;
                }
              }
            }
          }
        }
      }
    }
  }
  @include t-l {
    .prod-feat-content {
      .cont-box {
        margin: 3rem 0;
        padding: 0 2.5rem;
        gap: 4rem;
      }
    }
  }
  @include t-s {
    .prod-feat-content {
      .cont-box {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.prod-purc-content {
  .content-header {
    .tit-cont {
      font-family: $point_font;
      @include t-l {
        font-family: $mo_font;
      }
    }
  }

  .purc-img-wrap {
    width: 100%;
    height: 140px;
    background-image: url('../../assets/images/img_prod_developer_kit_001.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    @include bdrs(3rem);

    .uas-img {
      gap: 1rem;

      p {
        font-size: 2.4rem;
        font-weight: $el;

        &.ty02 {
          font-size: 2rem;
          font-weight: $r;
        }
      }

      a {
        font-weight: $md;
        font-size: 1.8rem;
      }
    }
  }
  @include t-s {
    .purc-img-wrap {
      @include bdrs (2rem);
      .uas-img {

        p {
          @include font-set($font-15r, $r, inherit, 0.15px, 1.4);
          &.ty02 {
            @include font-set($font-15r, $r, inherit, inherit, 1.4);
          }
        }
        a {
          @include font-set($font-16r, $r, inherit, 0.32px, 1);
        }
      }
    }
  }
}

.retina-4sn-developer-kit-contents {
  .img-content {
    section {
      @include flex-col(8.2rem);

      .prod-head-cont {
        .tit-box {
          gap: 1rem;

          .tit-head {
            width: 80%;
          }

          p {
            font-weight: $l;
          }
        }
      }

      .prod-img-wrap {
        width: 100%;
        height: fit-content;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .process-list {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          width: 100%;

          .process-item {
            flex-basis: 25%;

            p {
              padding: 3rem 2.5rem;
              box-sizing: border-box;
              line-height: 1.4;
            }
          }
        }
      }
    }
  }

  .prod-spec-content {
    padding-top: unset;
  }

  @include t-l {
    .img-content {
      section {
        .prod-head-cont .tit-box .tit-head {
          width: 100%;
        }
        .prod-img-wrap .process-list .process-item p {
          padding: 2rem;
          @include font-set($font-14r, $r, inherit, normal, 1.2);
          &.ty02 {
            @include font-set($font-14r, $r, inherit, -0.28px, 1.2);
          }
        }
      }
    }
  }
  @include t-s {
    .img-content {
      padding-bottom: unset;
      section {
        gap: 2rem;
        .prod-img-wrap {
          img {
            width: 100%;
            max-width: 324px;
            height: auto;
            margin: 0 auto;
          }
          .process-list {
            flex-direction: column;
            visibility: hidden;
            font-size: 0;
          }
        }
      }
    }
  }
}

.prod-contents {
  .str-content {
    gap: 2rem;

    .str-sec {
      display: flex;
      gap: 6rem;
      align-items: center;
      @include bd(1px, #e1e1e1);
      border-radius: 3rem;
      padding: 3rem 5rem;
    }

    .art-header {
      flex-basis: 190px;
      width: fit-content;
      min-width: 190px;

      h4 {
        font: {
          size: $font-28r;
          family: $point_font;
          weight: $l;
        }
        @include t-l {
          font-family: $mo_font;
        }
      }
    }

    .str-list {
      display: flex;
      gap: 3rem;

      .list-item {

      }
    }
  }
}

.retina-for-uas-contents {
  section {
    @include flex-col(6rem);

    .prod-head-cont {
      .tit-box {
        gap: 5rem;

        .tit-head {
          width: 80%;
        }
      }
    }

    .prod-img-wrap {
      width: 1220px;
      height: 325px;
      margin: 0 auto;
      background-image: url('../images/img_retina_uas_001.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      @include bdrs(2rem);
    }
  }

  @include t-l {
    section {
      .prod-img-wrap {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
  @include t-s {
    .img-content {
      padding-bottom: unset;
    }
    section {
      gap: 2rem;

      .prod-head-cont {
        .tit-box {
          gap: 2rem;
        }
      }
      .prod-img-wrap {
        height: 200px;
      }
    }
  }
}

.uas-img {
  width: 100%;
  height: 100%;
  @include flex-col(3rem);
  justify-content: center;
  align-items: center;
  text-align: center;

  p,
  a {
    color: $white;
    font-family: $point_font;
    @include t-l {
      font-family: $mo_font;
      line-height: 1.4;
    }
  }

  p {
    display: block;
    width: 75%;
    font-size: $font-26r;
    font-weight: $l;

    &.ty02 {
      width: 100%;
      font-size: $font-18r;
    }
  }

  a {
    display: block;
    font-size: $font-20r;
    font-weight: $b;
    @include bdb(1px, $white)
  }
  @include t-s {
    p {
      @include font-set ($font-15r, $r, inherit, normal, 1.4);
      &.ty02 {
        @include font-set ($font-15r, $r, inherit, -0.68px, 1.4);
      }
    }
    a {
      @include font-set ($font-16r, $sb, inherit, 0.32px, 1);
    }
  }
}

.lasso-iradar-contents {
  .prod-head-cont .tit-box .tit-head {
    width: 75%;
  }

  .prod-dtl-content {
    padding: 7rem 0;

    .dtl-item {
      .img-box {
        padding-bottom: 36.4rem;
      }
    }
  }

  .feat-list {
    position: relative;

    .btn-learn-more {
      position: absolute;
      right: 3rem;
      bottom: 5rem;

    }
  }
  @include t-l {
    .prod-head-cont .tit-box .tit-head {
      width: 100%;
    }
    .prod-dtl-content {
      padding: unset;
      .dtl-item {
        .img-box {
          padding-bottom: 100%;
        }
      }
    }
  }
  @include t-s {
    .feat-list {
      .btn-learn-more {
        margin-top: 2rem;
        position: relative;
        right: unset;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

      }
    }
    .feat-item .cont-box .txt-l span {
      flex-basis: 100%;
    }
  }
}

